<div ng-controller="UserController">
    <form ng-submit="signIn()">
        <p>
            <div class="control-group">
                <label for="email">Email</label>
                <input id="email" type="text" name="email" placeholder="Email" />
            </div>
            <div class="control-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Password" />
            </div>
            <div class="control-group">
                <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
        </p>
    </form>
</div>
&nbsp;or&nbsp;
    <a class="show-signup" href="/signup">Sign up</a>