<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<title>Remove a restaurant</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
</head>
<body>
	<div id='content' ng-controller='AddRestaurantController' ng-init="find()">

<!--         <ul ng-model='selectedRestaurant'>
            <li ng-repeat='obj in restaurants'>
                <button ng-click="removeRestaurant($index)">Remove</button>
                {{obj.name}}
            </li>
        </ul>

        <ul ng-model='selectedDetails'>
            <li ng-repeat='label in restaurants[idx].items'>{{label}}</li>
        </ul> -->
        
        <ul class="unstyled">
            <h2>Restaurants</h2>
            <li ng-repeat="restaurant in restaurantslist">
                <a href="">{{restaurant.name}}</a>
                (<a href="" ng-click="remove(restaurant)" >Remove</a>)
            </li>
        </ul>

	</div>
</body>
</html>
