<div ng-controller="VoteController">
    <div class="row">
        <div class="span6">
            <div ng-init="find()">
                <ul class="unstyled">
                    <h2>Restaurants</h2>
                    <form ng-submit="vote()">
                        <label ng-repeat="restaurant in restaurantslist" for="{{restaurant.name}}">
                            <input type="radio" name="restaurant" ng-model="$parent.selectedrestaurant" ng-value="restaurant.name" id="{{restaurant.name}}">
                            {{restaurant.name}}
                        </label>
                        <input ng-show="restaurantVoteClickCount == 0" type="submit" class="btn">

                        <input ng-hide="restaurantVoteClickCount == 0" type="submit" class="btn" disabled>
                    </form>
                </ul>
            </div>
            <div ng-init="finditems()">
            <input type="button" class="btn" value="Show Menu" ng-click="menu()">
                <div ng-show="showmenu == 1">
                    <label ng-repeat="items in itemslist" for="{{items}}">
                        <input type="radio" name="items" ng-model="$parent.selecteditem" ng-value="items" id="{{items}}">
                        {{items}}
                    </label>
                </div>
            </div>
        </div>
        <div class="span6" ng-controller="OrderController">
            <form class="form-horizontal" ng-submit="create()">
                <div class="control-group">
                    <label class="control-label" for="menuitem">Menu Item</label>
                    <div class="controls">
                        <input type="text" ng-model="selectedrestaurant" name="" id="selectedrestaurant" placeholder="selectedrestaurant" disabled>
                    </div>
                    <div class="controls">
                        <input type="text" ng-model="selecteditem" name="" id="menuitem" placeholder="Menu Item" disabled>
                    </div>
                    <label class="control-label" for="specialrequest">Special Request</label>
                    <div class="controls">
                        <input type="text" ng-model="order.specialRequest" id="specialrequest" placeholder="Special Request">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>